.card-container picture {
  display: flex;
  justify-content: center;
}

.card-container picture img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--neutral-white);
  font-weight: var(--font-weight);
  border-radius: 0 0 10px 10px;
  font-size: 1rem;
}

.text-container-product-description {
  padding: 1.25rem;
}

.text-container-product-description :first-child {
  text-align: left;
  letter-spacing: 0.2em;
}

.text-container-product-description .product-description {
  line-height: 1.6;
  font-size: 1rem;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price :first-child {
  margin-right: 1.25rem;
  margin-left: 1rem;
  font-size: 1.75rem;
  color: var(--primary-color-dark-cyan);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-fraunces);
}

.price :nth-child(2) {
  text-decoration: line-through;
  font-size: 1.25rem;
}

.button-cart {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--primary-color-dark-cyan);
  height: 3.125rem;
  width: 90%;
  border-radius: 10px;
  color: var(--neutral-white);
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: var(--neutral-very-dark-blue);
}

button img {
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .card-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    font-size: 1.125rem;
  }

  .card-container picture,
  .text-container {
    flex: 1;
    width: 50%;
  }

  .card-container picture img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .text-container {
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    width: 50%;
  }

  .text-container-product-description {
    flex: 1;
    padding: 1rem;
    font-size: 2.5rem;
  }

  .text-container-product-description .product-description {
    letter-spacing: 0.4rem;
    line-height: 2rem;
    font-size: 1.6rem;
  }

  .price :first-child {
    font-size: 2rem;
  }

  .price :nth-child(2) {
    font-size: 1.5rem;
  }

  .button-cart {
    padding: 1.5rem;
  }

  button {
    height: 3.5rem;
    font-size: 1.125rem;
  }
}
