.card-container picture {
  display: flex;
  justify-content: center;
}

.card-container picture img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--neutral-white);
  font-weight: var(--font-weight);
  border-radius: 0 0 10px 10px;
}

.text-container-product-description {
  padding: 20px;
}
.text-container-product-description :first-child {
  text-align: left;
  letter-spacing: 0.4em;
}

.text-container-product-description .product-description {
  line-height: 1.5rem;
}

.price {
  display: flex;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.price :first-child {
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--primary-color-dark-cyan);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-fraunces);
}

.price :nth-child(2) {
  text-decoration: line-through;
}

.button-cart {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--primary-color-dark-cyan);
  height: 50px;
  width: 90%;
  border-radius: 10px;
  color: var(--neutral-white);
  font-weight: var(--font-weight-bold);
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: var(--neutral-very-dark-blue);
}

button img {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .card-container picture img {
    border-radius: 10px 0 0 10px;
  }

  .text-container {
    border-radius: 0 10px 10px 0;
  }
}
